@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;

  --light-font: #efefef;

  --main-background: hsla(0, 0%, 75%, 0.475);

  --dark-background: var(--main-dark);

  --darker-gray: hsla(0, 0%, 64%, 0.804);

  --primary: #ff8fab;
  --main-light: #efefef;
  --main-dark: #111414;
  --light-gray: hsla(0, 0%, 75%, 0.749);
  --dark-blue: #254858;
  --darker-pink: #fb6f92;

  --wavy-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffe5ec 57px
    ),
    repeating-linear-gradient(#fb6f92, #fb6f92);
  --wavy-color: #ffe5ec;

  /* Possible gradinets
    background: rgb(251,111,146);
background: linear-gradient(90deg, rgba(251,111,146,1) 20%, rgba(255,143,171,1) 61%, rgba(255,229,236,1) 100%);

  background: rgb(251,111,146);
background: linear-gradient(90deg, rgba(251,111,146,1) 74%, rgba(255,143,171,1) 100%, rgba(255,229,236,1) 100%);

  background: rgb(251,111,146);
background: linear-gradient(90deg, rgba(251,111,146,0.8324579831932774) 38%, rgba(255,143,171,1) 100%, rgba(255,229,236,1) 100%);
  */

  --fs-xl: 4rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

.dark-mode {
  --main-background: #111414;
  --main-dark: #efefef;
  --wavy-color: #111414;
  --pink-1: #ff8fab;
  --light-font: #111411;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--main-background);
  color: var(--main-dark);
  font-size: var(--fs-400);
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 800px) {
  :root {
    --fs-xl: 2rem;
  }
}
